:root {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;

  /* Colors */
  --brand: #1F2937;
  --brand-light: #3882F6;
  --shade: #E5E7EB;
  --shade-light: #F9FAF8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container,
.container-fluid {
  padding: 0.5rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

button {
  background-color: var(--brand-light);
  color: var(--shade-light);
  padding: 0.25rem 0.75rem;
  border-style: none;
  border-radius: 0.5rem;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header,
.hero,
footer {
  /* min-height: 5rem; */
  background-color: var(--brand);
  color: var(--shade);
  font-size: 18px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: var(--shade-light);
  font-size: 24px;
}

.hero h2 {
  color: var(--shade-light);
  font-size: 48px;
}

.gallery img {
  border: 0.15rem solid var(--brand-light);
  border-radius: 0.5rem;
}

.quote {
  background-color: var(--shade);
  color: var(--brand-dark);
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.quote .quote-author {
  font-weight: bold;
}

.call-to-action {
  background-color: var(--brand-light);
  color: var(--shade-light);
}

.call-to-action button {
  border: 0.15rem solid var(--shade-light);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
