/* -- General styles -- */
:root {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;

  /* Colors */
  --brand: #1F2937;
  --brand-light: #3882F6;
  --shade: #E5E7EB;
  --shade-light: #F9FAF8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background-color: var(--shade);
  color: black;
}

button {
  padding: 0.25rem 0.75rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: var(--brand-light);
  color: var(--shade-light);
}

button:hover {
  cursor: pointer;
}

a:hover {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header,
footer,
article {
  padding: 1rem;
}

header,
.hero,
footer {
  background-color: var(--brand);
  color: var(--shade);
  font-size: 18px;
}

/* -- Utility -- */
.container {
  max-width: 60rem;
  margin: 1rem auto;
}

@media screen and (max-width: 64rem) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


/* -- Header -- */
header .container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

header h1 {
  color: var(--shade-light);
  font-size: 24px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header a:not(:last-child) {
  margin-right: 1rem;
}

header a {
  text-decoration: none;
  color: var(--shade);
}

/* -- Hero -- */
.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.hero section {
  flex: 1;
}

.hero h2 {
  color: var(--shade-light);
  font-size: 48px;
}

.hero img {
  border: 0.15rem solid var(--shade);
}

/* -- Gallery -- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: center;
}

.gallery h2 {
  flex-basis: 100%;
}

.gallery section {
  flex-basis: 12rem;
}

.gallery img {
  border: 0.15rem solid var(--brand-light);
  border-radius: 0.5rem;
}

/* -- Quote -- */
.quote {
  background-color: var(--shade);
  color: var(--brand-dark);
}

.quote .container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 64rem) {
  .quote .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/* Quote body */
.quote p:first-child {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

/* Quote author */
.quote p:last-child {
  text-align: end;
  font-weight: bold;
}

/* -- Call to action -- */
.call-to-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--brand-light);
  color: var(--shade-light);
}

.call-to-action section {
  flex: 1;
}

.call-to-action button {
  border: 0.15rem solid var(--shade-light);
}

/* -- Footer -- */
footer .container {
  text-align: center;
}
